@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color:"#577C8E";
}
@media only screen and (min-width: 1680px) {
  .container {
    max-width: 1680px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color:"#577C8E";
}
/* From Uiverse.io by andrew-demchenk0 */ 
.button {
  position: relative;
  width: 150px;
  height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #61BAB0;
  background-color: #61BAB0;
  border-radius: 10px;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #82d1c8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
  font-size:40px;
}

.button .svg {
  width: 30px;
  stroke: #fff;
  border-radius: 10px;
}

.button:hover {
  background: #86bdb7;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #E8AC54;
}

.button:active {
  border: 1px solid #E8AC54;
}

/* From Uiverse.io by Pradeepsaranbishnoi */ 
/* From Uiverse.io by arghyaBiswasDev */ 
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f75151;
  border: 1px solid #ff0000;
  transition: all 0.4s ease;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #ffffff;
  transition: all 0.4s ease;
}

input:checked + .slider {
  background-color: #a2ee72;
  border: 1px solid #77ec30;
}

input:focus + .slider {
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.6);
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}
input.PhoneInputInput {
  display: none;
}

/* Remove the arrows for number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* For WebKit-based browsers (Chrome, Safari, Opera) */
  margin: 0;
}

input[type="number"] {
  appearance: none; 
}


@layer utilities {
  .clip-path-style {
    clip-path: polygon(97.4% 0%, 99.4% 9.8%, 99.3% 26%, 97.7% 43.5%, 93.3% 62.5%, 92.7% 81%, 95.9% 100%, 0.5% 100%, 0% 0%);
  }
}

.vector
{
background-color:#696aa2;
height:760.8197021484375px;
width:1472.94921875px;
left:766.39892578125px;
top:1023.938720703125px;
position:absolute;
}
.hidescroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.date-picker-container {
  position: relative;
}
.react-datepicker-popper {
  z-index: 2;
}



/* From Uiverse.io by abrahamcalsin */ 
.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.date {
  display: inline-block;
  padding: 0;
  border: 1px solid #ccc;  /* Optional: Adds border to the date input */
  width: 100%;  /* Makes the input take up full width of its parent */
  font-size: 16px;  /* Optional: Adjusts font size */
  font-family: Arial, sans-serif;  /* Optional: Specifies font family */
  border-radius: 6px;
}

.scrollable-container {
  height: 400px; 
  overflow-y: auto; 
}